.navbar{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:40px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    z-index:10000;
    font-size:20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    background:#3e8e3e;
}

span:hover{
    filter: brightness(60%);
}

.left-bar{
    padding-left:20px;
}

.right-bar{
    padding-right:40px;
}

.navbar a{
    text-decoration: none;
    color:white;
    height:100%;
}

.left-bar a{
    margin-right:15px;
}

.right-bar a{
    margin-left:15px;
}

span .material-icons{
    font-size:24px;
    position: relative;
    top:5px;
    margin-right:3px;
    color:white;
}