
#search-tags p{
    position: relative;
    margin:0px;
    padding:4px;
    border:1px solid rgba(0,0,0,0.3);
    border-top:none;
    font-size:12px;
    width:110px;
    transition: 0.3s ease all;
    cursor: pointer;
    background:white;
}

#choose-tag{
    width:110px;
    padding:4px;
    border:1px solid rgba(0,0,0,0.3);
    font-size:12px;
    outline:none;
}

#search-tags p:hover{
    background:#3e8e3e !important;
    color:white !important;
}

.tag{
    font-size:12px;
    color:white;
    background:green;
    border-radius:20px;
    text-align: center;
    padding:0px;
    margin:0px;
    padding:3px 8px;
    margin-right:8px;
    cursor: pointer;
}

#tag-container{
    position: relative;
}

#tag-box{
    background:red;
    display: flex;
    align-items: center;
    height:50px;
    width:110px;
    padding:0px 10px 0px 10px;
    z-index:10;
}
#tag-suggestions{
    position: absolute;
    top:25px;
    left:0px;
    width:110px;
}